html{

}

body {
	margin:0;
}

.left-content {
	height: 100%;
	width: 78%;
	background-color: blue;
	display: inline-block;
}

.right-content {
	height: 100%;
	width: 20%;
	background-color: red;
	float: right;
	display: inline-block;
}

								/* BEGIN HEADER BAR */

.overlay {
	background: rgba(9, 6, 98, 0.44);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 325;
    left: 0;

}

.image {
	background-image: url("rock.png");
	background-position-y: 29%;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 250px;
	width: 100%;
	font-weight: bold;
}

.linkRight a {
	position: absolute;
	color: blanchedalmond;
	text-decoration: none;
	font-size: 20px;	
}

.linkRight2 a {
	position: absolute;
	color: blanchedalmond;
	text-decoration: none;
	font-size: 20px;
}

.linkRight2 {
	float: right;
	padding: 2%;
	padding-right: 8%;
}

.linkRight {
	float: right;
	padding: 2%;
	padding-right: 21%;
}

.link {
	position: absolute;
	float: left;
	padding: 2%;
	padding-left: 15%;
	color: blanchedalmond;
}

.link a {
	position: absolute;
	color: blanchedalmond;
	text-decoration: none;
	font-size: 20px;
}

header {	
	margin-left: 12%;
	position: absolute;
	text-align: center;
	color: white;
	padding-top: 84px;
	font-size: 67px;
	transition:all 1s ease-in-out; 
    -o-transition:all 1s ease-in-out; 
    -moz-transition:all 1s ease-in-out; 
    -webkit-transition:all 1s ease-in-out;
}

h2 {
	text-align: center;
	color: blanchedalmond;
	margin-top: 170;
	margin-left: 38%;
	position: absolute;
	font-size: 20px;
}

								/* END HEADER BAR */

footer {
	height: 200px;
	width: 100%;
	background-color: green;
}
								/* BEGIN @media query section */
@media (max-width: 1400px) {
	header {
		font-size: 67px;
		transition:all 1s ease-in-out; 
    	-o-transition:all 1s ease-in-out; 
    	-moz-transition:all 1s ease-in-out; 
    	-webkit-transition:all 1s ease-in-out;
	}
	.overlay{
		bottom: 177;
	}
}
		

@media (max-width: 960px) {
	header {
		margin-left: 2%;
		font-size: 57px;
		transition:all 1s ease-in-out; 
    	-o-transition:all 1s ease-in-out; 
    	-moz-transition:all 1s ease-in-out; 
    	-webkit-transition:all 1s ease-in-out;
	}
	h2{
		margin-left: 35%;
	}
	.overlay{
		bottom: 177;
	}
}

@media (max-width: 720px) {
	header {
		padding-top: 65px;
		font-size: 47px;
		transition:all 1s ease-in-out; 
    	-o-transition:all 1s ease-in-out; 
    	-moz-transition:all 1s ease-in-out; 
    	-webkit-transition:all 1s ease-in-out;
	}

	h2 {
		font-size: 17px;
		margin-left: 32%;
	}
	.overlay{
		bottom: 177;
	}
	.linkRight2 {
		padding-right: 12%;
	}
}

@media (max-width: 480px) {
	header {
		padding-top: 85px;
		font-size: 36px;
		transition:all .5s ease-in-out; 
    	-o-transition:all .5s ease-in-out; 
    	-moz-transition:all .5s ease-in-out; 
    	-webkit-transition:all .5s ease-in-out;
	}

	h2 {
		font-size: 16px;
		margin-right: 25%;
		margin-left: 25%;
	}
	.overlay{
		bottom: 177;
	}
	.linkRight2 {
		padding-right: 18%;
	}
}

								/* END @media query section */


